**TOPIC: String Based Assignment Problem**

In [2]:
# 1. Write a program to reverse a string.

def reverse_string(s):
  return s[::-1]

# Example usage
string = "hello"
reversed_string = reverse_string(string)
print(reversed_string)  # Output: olleh

olleh

In [3]:
# 2. Check if a string is a palindrome.

def is_palindrome(s):
  """
  Checks if a string is a palindrome.

  Args:
    s: The input string.

  Returns:
    True if the string is a palindrome, False otherwise.
  """
  s = s.lower()  # Ignore case
  return s == s[::-1]

# Example usage
string = "Racecar"
if is_palindrome(string):
  print(f"{string} is a palindrome.")
else:
  print(f"{string} is not a palindrome.")

Racecar is a palindrome.

In [4]:
#  3. Convert a string to uppercase.

def to_uppercase(s):
  """
  Converts a string to uppercase.

  Args:
    s: The input string.

  Returns:
    The string in uppercase.
  """
  return s.upper()

# Example usage
string = "hello world"
uppercase_string = to_uppercase(string)
print(uppercase_string)  # Output: HELLO WORLD

HELLO WORLD

In [5]:
# 4. Convert a string to lowercase.

def to_lowercase(s):
  """
  Converts a string to lowercase.

  Args:
    s: The input string.

  Returns:
    The string in lowercase.
  """
  return s.lower()

# Example usage
string = "HELLO WORLD"
lowercase_string = to_lowercase(string)
print(lowercase_string)  # Output: hello world

hello world

In [6]:
#  5. Count the number of vowels in a string.

def count_vowels(s):
  """
  Counts the number of vowels in a string.

  Args:
    s: The input string.

  Returns:
    The number of vowels in the string.
  """
  vowels = "aeiouAEIOU"
  count = 0
  for char in s:
    if char in vowels:
      count += 1
  return count

# Example usage
string = "Hello World"
vowel_count = count_vowels(string)
print(f"The number of vowels in '{string}' is: {vowel_count}")

The number of vowels in 'Hello World' is: 3

In [7]:
#  6. Count the number of consonants in a string.

def count_consonants(s):
  """
  Counts the number of consonants in a string.

  Args:
    s: The input string.

  Returns:
    The number of consonants in the string.
  """
  consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
  count = 0
  for char in s:
    if char in consonants:
      count += 1
  return count

# Example usage
string = "Hello World"
consonant_count = count_consonants(string)
print(f"The number of consonants in '{string}' is: {consonant_count}")

The number of consonants in 'Hello World' is: 7

In [8]:
#  7. Remove all whitespaces from a string.

def remove_whitespace(s):
  """
  Removes all whitespaces from a string.

  Args:
    s: The input string.

  Returns:
    The string with all whitespaces removed.
  """
  return s.replace(" ", "")

# Example usage
string = "Hello World"
no_whitespace_string = remove_whitespace(string)
print(no_whitespace_string)  # Output: HelloWorld

HelloWorld

In [9]:
#  8. Find the length of a string without using the `len()` function.

def find_length(s):
  """
  Finds the length of a string without using the len() function.

  Args:
    s: The input string.

  Returns:
    The length of the string.
  """
  count = 0
  for char in s:
    count += 1
  return count

# Example usage
string = "Hello"
length = find_length(string)
print(f"The length of '{string}' is: {length}")

The length of 'Hello' is: 5

In [10]:
# 9. Check if a string contains a specific word.

def contains_word(s, word):
  """
  Checks if a string contains a specific word.

  Args:
    s: The input string.
    word: The word to search for.

  Returns:
    True if the string contains the word, False otherwise.
  """
  return word in s

# Example usage
string = "This is a sample string."
word = "sample"
if contains_word(string, word):
  print(f"'{string}' contains the word '{word}'.")
else:
  print(f"'{string}' does not contain the word '{word}'.")

'This is a sample string.' contains the word 'sample'.

In [11]:
#  10. Replace a word in a string with another word.

def replace_word(s, old_word, new_word):
  """
  Replaces a word in a string with another word.

  Args:
    s: The input string.
    old_word: The word to be replaced.
    new_word: The word to replace with.

  Returns:
    The string with the word replaced.
  """
  return s.replace(old_word, new_word)

# Example usage
string = "This is a sample string."
old_word = "sample"
new_word = "example"
new_string = replace_word(string, old_word, new_word)
print(new_string)  # Output: This is a example string.

This is a example string.

In [12]:
# 11. Count the occurrences of a word in a string.

def count_word_occurrences(s, word):
  """
  Counts the occurrences of a word in a string.

  Args:
    s: The input string.
    word: The word to count occurrences of.

  Returns:
    The number of times the word appears in the string.
  """
  words = s.split()
  count = 0
  for w in words:
    if w == word:
      count += 1
  return count

# Example usage
string = "This is a sample string. This string contains the word sample."
word = "sample"
occurrences = count_word_occurrences(string, word)
print(f"The word '{word}' appears {occurrences} times in the string.")

The word 'sample' appears 1 times in the string.

In [13]:
#  12. Find the first occurrence of a word in a string.

def find_first_occurrence(s, word):
  """
  Finds the first occurrence of a word in a string.

  Args:
    s: The input string.
    word: The word to search for.

  Returns:
    The index of the first occurrence of the word, or -1 if not found.
  """
  try:
    index = s.index(word)
    return index
  except ValueError:
    return -1

# Example usage
string = "This is a sample string."
word = "sample"
index = find_first_occurrence(string, word)
if index != -1:
  print(f"The first occurrence of '{word}' is at index {index}.")
else:
  print(f"'{word}' not found in the string.")

The first occurrence of 'sample' is at index 10.

In [14]:
#  13. Find the last occurrence of a word in a string.

def find_last_occurrence(s, word):
  """
  Finds the last occurrence of a word in a string.

  Args:
    s: The input string.
    word: The word to search for.

  Returns:
    The starting index of the last occurrence of the word, or -1 if not found.
  """
  try:
    index = s.rfind(word)
    return index
  except ValueError:
    return -1

# Example usage
string = "This is a sample string. This string contains the word sample."
word = "sample"
index = find_last_occurrence(string, word)
if index != -1:
  print(f"The last occurrence of '{word}' is at index {index}.")
else:
  print(f"'{word}' not found in the string.")

The last occurrence of 'sample' is at index 55.

In [15]:
#  14. Split a string into a list of words.

def split_string(s):
  """
  Splits a string into a list of words.

  Args:
    s: The input string.

  Returns:
    A list of words.
  """
  return s.split()

# Example usage
string = "This is a sample string."
words = split_string(string)
print(words)  # Output: ['This', 'is', 'a', 'sample', 'string.']

['This', 'is', 'a', 'sample', 'string.']

In [16]:
#  15. Join a list of words into a string.

def join_words(words):
  """
  Joins a list of words into a string.

  Args:
    words: A list of words.

  Returns:
    A string containing the joined words.
  """
  return " ".join(words)

# Example usage
words = ["This", "is", "a", "list", "of", "words."]
joined_string = join_words(words)
print(joined_string)  # Output: This is a list of words.

This is a list of words.

In [17]:
# 16. Convert a string where words are separated by spaces to one where words
# are separated by underscores.

def spaces_to_underscores(s):
  """
  Converts a string where words are separated by spaces to one where words
  are separated by underscores.

  Args:
    s: The input string.

  Returns:
    The string with spaces replaced by underscores.
  """
  return s.replace(" ", "_")

# Example usage
string = "This is a sample string"
new_string = spaces_to_underscores(string)
print(new_string)  # Output: This_is_a_sample_string

This_is_a_sample_string

In [18]:
#  17. Check if a string starts with a specific word or phrase.

def starts_with(s, prefix):
  """
  Checks if a string starts with a specific word or phrase.

  Args:
    s: The input string.
    prefix: The word or phrase to check for.

  Returns:
    True if the string starts with the prefix, False otherwise.
  """
  return s.startswith(prefix)

# Example usage
string = "Hello world"
prefix = "Hello"
if starts_with(string, prefix):
  print(f"'{string}' starts with '{prefix}'.")
else:
  print(f"'{string}' does not start with '{prefix}'.")

'Hello world' starts with 'Hello'.

In [19]:
#  18. Check if a string ends with a specific word or phrase.

def ends_with(s, suffix):
  """
  Checks if a string ends with a specific word or phrase.

  Args:
    s: The input string.
    suffix: The word or phrase to check for.

  Returns:
    True if the string ends with the suffix, False otherwise.
  """
  return s.endswith(suffix)

# Example usage
string = "This is a sample string."
suffix = "string."
if ends_with(string, suffix):
  print(f"'{string}' ends with '{suffix}'.")
else:
  print(f"'{string}' does not end with '{suffix}'.")

'This is a sample string.' ends with 'string.'.

In [20]:
#  19. Convert a string to title case (e.g., "hello world" to "Hello World").

def to_title_case(s):
  """
  Converts a string to title case.

  Args:
    s: The input string.

  Returns:
    The string in title case.
  """
  return s.title()

# Example usage
string = "hello world"
title_case_string = to_title_case(string)
print(title_case_string)  # Output: Hello World

Hello World

In [21]:
# 20. Find the longest word in a string.

def find_longest_word(s):
  """
  Finds the longest word in a string.

  Args:
    s: The input string.

  Returns:
    The longest word in the string.
  """
  words = s.split()
  longest_word = ""
  for word in words:
    if len(word) > len(longest_word):
      longest_word = word
  return longest_word

# Example usage
string = "This is a sample string with some long words."
longest_word = find_longest_word(string)
print(f"The longest word in the string is: {longest_word}")

The longest word in the string is: sample

In [22]:
# 21. Find the shortest word in a string.

def find_shortest_word(s):
  """
  Finds the shortest word in a string.

  Args:
    s: The input string.

  Returns:
    The shortest word in the string.
  """
  words = s.split()
  if not words:
    return ""
  shortest_word = words[0]
  for word in words:
    if len(word) < len(shortest_word):
      shortest_word = word
  return shortest_word

# Example usage
string = "This is a sample string with some long words."
shortest_word = find_shortest_word(string)
print(f"The shortest word in the string is: {shortest_word}")

The shortest word in the string is: a

In [23]:
#  22. Reverse the order of words in a string.

def reverse_words_in_string(s):
  """
  Reverses the order of words in a string.

  Args:
    s: The input string.

  Returns:
    The string with words reversed.
  """
  words = s.split()
  reversed_words = words[::-1]
  return " ".join(reversed_words)

# Example usage
string = "This is a sample string."
reversed_string = reverse_words_in_string(string)
print(reversed_string)  # Output: string. sample a is This

string. sample a is This

In [24]:
#  23. Check if a string is alphanumeric.

def is_alphanumeric(s):
  """
  Checks if a string is alphanumeric.

  Args:
    s: The input string.

  Returns:
    True if the string is alphanumeric, False otherwise.
  """
  return s.isalnum()

# Example usage
string = "Hello123"
if is_alphanumeric(string):
  print(f"'{string}' is alphanumeric.")
else:
  print(f"'{string}' is not alphanumeric.")

'Hello123' is alphanumeric.

In [25]:
#  24. Extract all digits from a string.

def extract_digits(s):
  """
  Extracts all digits from a string.

  Args:
    s: The input string.

  Returns:
    A string containing all the digits from the input string.
  """
  digits = ""
  for char in s:
    if char.isdigit():
      digits += char
  return digits

# Example usage
string = "Hello123World456"
extracted_digits = extract_digits(string)
print(f"The digits in the string are: {extracted_digits}")

The digits in the string are: 123456

In [26]:
#  25. Extract all alphabets from a string.

def extract_alphabets(s):
  """
  Extracts all alphabets from a string.

  Args:
    s: The input string.

  Returns:
    A string containing only the alphabets from the input string.
  """
  alphabets = ""
  for char in s:
    if char.isalpha():
      alphabets += char
  return alphabets

# Example usage
string = "This is a string with numbers 123 and symbols @#$!"
extracted_alphabets = extract_alphabets(string)
print(f"Alphabets extracted from the string: {extracted_alphabets}")

Alphabets extracted from the string: Thisisastringwithnumbersandsymbols

In [27]:
#  26. Count the number of uppercase letters in a string.

def count_uppercase_letters(s):
  """
  Counts the number of uppercase letters in a string.

  Args:
    s: The input string.

  Returns:
    The number of uppercase letters in the string.
  """
  count = 0
  for char in s:
    if char.isupper():
      count += 1
  return count

# Example usage
string = "HeLlO WoRlD"
uppercase_count = count_uppercase_letters(string)
print(f"The number of uppercase letters in '{string}' is: {uppercase_count}")

The number of uppercase letters in 'HeLlO WoRlD' is: 6

In [28]:
#  27. Count the number of lowercase letters in a string.

def count_lowercase_letters(s):
  """
  Counts the number of lowercase letters in a string.

  Args:
    s: The input string.

  Returns:
    The number of lowercase letters in the string.
  """
  count = 0
  for char in s:
    if char.islower():
      count += 1
  return count

# Example usage
string = "Hello World"
lowercase_count = count_lowercase_letters(string)
print(f"The number of lowercase letters in '{string}' is: {lowercase_count}")

The number of lowercase letters in 'Hello World' is: 8

In [29]:
# 28. Swap the case of each character in a string.

def swap_case(s):
  """
  Swaps the case of each character in a string.

  Args:
    s: The input string.

  Returns:
    The string with the case of each character swapped.
  """
  result = ""
  for char in s:
    if char.islower():
      result += char.upper()
    elif char.isupper():
      result += char.lower()
    else:
      result += char
  return result

# Example usage
string = "Hello World"
swapped_string = swap_case(string)
print(swapped_string)  # Output: hELLO wORLD

hELLO wORLD

In [30]:
# 29. Remove a specific word from a string.

def remove_word(s, word):
  """
  Removes a specific word from a string.

  Args:
    s: The input string.
    word: The word to remove.

  Returns:
    The string with the word removed.
  """
  words = s.split()
  new_words = [w for w in words if w != word]
  return " ".join(new_words)

# Example usage
string = "This is a sample string."
word_to_remove = "sample"
new_string = remove_word(string, word_to_remove)
print(new_string)  # Output: This is a string.

This is a string.

In [31]:
# 30. Check if a string is a valid email address.

import re

def is_valid_email(email):
  """
  Checks if a string is a valid email address.

  Args:
    email: The input email string.

  Returns:
    True if the email is valid, False otherwise.
  """
  pattern = r"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
  return bool(re.match(pattern, email))

# Example usage
email = "test@example.com"
if is_valid_email(email):
  print(f"'{email}' is a valid email address.")
else:
  print(f"'{email}' is not a valid email address.")

'test@example.com' is a valid email address.

In [32]:
# 31. Extract the username from an email address string.

def extract_username(email):
  """
  Extracts the username from an email address string.

  Args:
    email: The input email address string.

  Returns:
    The username extracted from the email address.
  """
  try:
    username = email.split('@')[0]
    return username
  except IndexError:
    return ""

# Example usage
email = "test@example.com"
username = extract_username(email)
print(f"Username: {username}")  # Output: Username: test

Username: test

In [33]:
#  32. Extract the domain name from an email address string.

import re

def extract_domain_name(email):
  """
  Extracts the domain name from an email address string.

  Args:
    email: The input email address string.

  Returns:
    The domain name extracted from the email address.
  """
  try:
    domain = email.split('@')[1]
    return domain
  except IndexError:
    return ""

# Example usage
email = "test@example.com"
domain_name = extract_domain_name(email)
print(f"Domain name: {domain_name}")  # Output: Domain name: example.com

Domain name: example.com

In [34]:
# 33. Replace multiple spaces in a string with a single space.

def replace_multiple_spaces(s):
  """
  Replaces multiple spaces in a string with a single space.

  Args:
    s: The input string.

  Returns:
    The string with multiple spaces replaced by a single space.
  """
  return " ".join(s.split())

In [35]:
#  34. Check if a string is a valid URL.

import re

def is_valid_url(url):
  """
  Checks if a string is a valid URL.

  Args:
    url: The input URL string.

  Returns:
    True if the URL is valid, False otherwise.
  """
  pattern = r"^(https?|ftp)://[^\s/$.?#].[^\s]*$"
  return bool(re.match(pattern, url))

# Example usage
url = "https://www.example.com"
if is_valid_url(url):
  print(f"'{url}' is a valid URL.")
else:
  print(f"'{url}' is not a valid URL.")

'https://www.example.com' is a valid URL.

In [36]:
# 35. Extract the protocol (http or https) from a URL string.

import re

def extract_protocol(url):
  """
  Extracts the protocol (http or https) from a URL string.

  Args:
    url: The input URL string.

  Returns:
    The protocol (http or https) or an empty string if not found.
  """
  pattern = r"^(https?)://"
  match = re.match(pattern, url)
  if match:
    return match.group(1)
  else:
    return ""

# Example usage
url = "https://www.example.com"
protocol = extract_protocol(url)
print(f"Protocol: {protocol}")  # Output: Protocol: https

Protocol: https

In [37]:
# 36. Find the frequency of each character in a string.

def char_frequency(s):
  """
  Finds the frequency of each character in a string.

  Args:
    s: The input string.

  Returns:
    A dictionary where keys are characters and values are their frequencies.
  """
  freq = {}
  for char in s:
    if char in freq:
      freq[char] += 1
    else:
      freq[char] = 1
  return freq

# Example usage
string = "hello world"
frequency = char_frequency(string)
print(frequency)  # Output: {'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

In [38]:
# 37. Remove all punctuation from a string.

import re

def remove_punctuation(s):
  """
  Removes all punctuation from a string.

  Args:
    s: The input string.

  Returns:
    The string with all punctuation removed.
  """
  return re.sub(r'[^\w\s]', '', s)

# Example usage
string = "This is a string with punctuation! It has commas, periods, and more."
no_punctuation_string = remove_punctuation(string)
print(no_punctuation_string)  # Output: This is a string with punctuation It has commas periods and more

This is a string with punctuation It has commas periods and more

In [39]:
# 38. Check if a string contains only digits.

def contains_only_digits(s):
  """
  Checks if a string contains only digits.

  Args:
    s: The input string.

  Returns:
    True if the string contains only digits, False otherwise.
  """
  return s.isdigit()

# Example usage
string = "12345"
if contains_only_digits(string):
  print(f"'{string}' contains only digits.")
else:
  print(f"'{string}' does not contain only digits.")

'12345' contains only digits.

In [40]:
#  39. Check if a string contains only alphabets.

def contains_only_alphabets(s):
  """
  Checks if a string contains only alphabets.

  Args:
    s: The input string.

  Returns:
    True if the string contains only alphabets, False otherwise.
  """
  return s.isalpha()

# Example usage
string = "HelloWorld"
if contains_only_alphabets(string):
  print(f"'{string}' contains only alphabets.")
else:
  print(f"'{string}' contains non-alphabetic characters.")

'HelloWorld' contains only alphabets.

In [41]:
#  40. Convert a string to a list of characters.

def string_to_char_list(s):
  """
  Converts a string to a list of characters.

  Args:
    s: The input string.

  Returns:
    A list of characters.
  """
  return list(s)

# Example usage
string = "Hello"
char_list = string_to_char_list(string)
print(char_list)  # Output: ['H', 'e', 'l', 'l', 'o']

['H', 'e', 'l', 'l', 'o']

In [42]:
#  41. Check if two strings are anagrams.

def are_anagrams(str1, str2):
  """
  Checks if two strings are anagrams.

  Args:
    str1: The first string.
    str2: The second string.

  Returns:
    True if the strings are anagrams, False otherwise.
  """
  str1 = str1.lower()
  str2 = str2.lower()
  if len(str1) != len(str2):
    return False
  sorted_str1 = sorted(str1)
  sorted_str2 = sorted(str2)
  if sorted_str1 == sorted_str2:
    return True
  else:
    return False

# Example usage
string1 = "listen"
string2 = "silent"
if are_anagrams(string1, string2):
  print(f"'{string1}' and '{string2}' are anagrams.")
else:
  print(f"'{string1}' and '{string2}' are not anagrams.")

'listen' and 'silent' are anagrams.

In [43]:
#  42. Encode a string using a Caesar cipher.

def caesar_cipher_encode(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The input string.
    shift: The number of positions to shift the characters.

  Returns:
    The encoded string.
  """
  result = ''
  for char in text:
    if char.isalpha():
      start = ord('a') if char.islower() else ord('A')
      shifted_char = chr(((ord(char) - start + shift) % 26) + start)
    else:
      shifted_char = char
    result += shifted_char
  return result

# Example usage
text = "hello world"
shift = 3
encoded_text = caesar_cipher_encode(text, shift)
print(f"Encoded text: {encoded_text}")  # Output: Encoded text: khoor zruog

Encoded text: khoor zruog

In [44]:
#  43. Decode a Caesar cipher encoded string.

def caesar_decode(text, shift):
  """
  Decodes a Caesar cipher encoded string.

  Args:
    text: The encoded string.
    shift: The shift value used in the cipher.

  Returns:
    The decoded string.
  """
  result = ''
  for char in text:
    if char.isalpha():
      start = ord('a') if char.islower() else ord('A')
      shifted_char = chr(((ord(char) - start - shift) % 26 + 26) % 26 + start)
    else:
      shifted_char = char
    result += shifted_char
  return result

In [45]:
# 44. Find the most frequent word in a string.

from collections import Counter

def find_most_frequent_word(s):
  """
  Finds the most frequent word in a string.

  Args:
    s: The input string.

  Returns:
    The most frequent word in the string.
  """
  words = s.split()
  word_counts = Counter(words)
  most_frequent_word = word_counts.most_common(1)[0][0]
  return most_frequent_word

# Example usage
string = "This is a sample string. This string contains the word sample."
most_frequent = find_most_frequent_word(string)
print(f"The most frequent word is: {most_frequent}")

The most frequent word is: This

In [46]:
# 45. Find all unique words in a string.

def find_unique_words(s):
  """
  Finds all unique words in a string.

  Args:
    s: The input string.

  Returns:
    A list of unique words in the string.
  """
  words = s.split()
  unique_words = []
  for word in words:
    if word not in unique_words:
      unique_words.append(word)
  return unique_words

# Example usage
string = "This is a sample string. This string contains the word sample."
unique_words = find_unique_words(string)
print(f"Unique words in the string: {unique_words}")

Unique words in the string: ['This', 'is', 'a', 'sample', 'string.', 'string', 'contains', 'the', 'word', 'sample.']

In [47]:
#  46. Count the number of syllables in a string.

import re

def count_syllables(word):
  """
  Counts the number of syllables in a word.

  Args:
    word: The input word.

  Returns:
    The number of syllables in the word.
  """
  word = word.lower()
  count = 0
  vowels = "aeiouy"
  if word[0] in vowels:
    count += 1
  for index in range(1, len(word)):
    if word[index] in vowels and word[index - 1] not in vowels:
      count += 1
  if word.endswith("e"):
    count -= 1
  if count == 0:
    count += 1
  return count

# Example usage
word = "syllable"
syllable_count = count_syllables(word)
print(f"The number of syllables in '{word}' is: {syllable_count}")

The number of syllables in 'syllable' is: 2

In [48]:
# 47. Check if a string contains any special characters.

import re

def contains_special_characters(s):
  """
  Checks if a string contains any special characters.

  Args:
    s: The input string.

  Returns:
    True if the string contains special characters, False otherwise.
  """
  pattern = r"[^a-zA-Z0-9\s]"
  if re.search(pattern, s):
    return True
  else:
    return False

# Example usage
string = "This is a string with special characters like @#$!"
if contains_special_characters(string):
  print(f"'{string}' contains special characters.")
else:
  print(f"'{string}' does not contain special characters.")

'This is a string with special characters like @#$!' contains special characters.

In [49]:
#  48. Remove the nth word from a string.

def remove_nth_word(s, n):
  """
  Removes the nth word from a string.

  Args:
    s: The input string.
    n: The position of the word to remove (starting from 1).

  Returns:
    The string with the nth word removed.
  """
  words = s.split()
  if n > 0 and n <= len(words):
    del words[n - 1]
  return " ".join(words)

# Example usage
string = "This is a sample string."
n = 3
new_string = remove_nth_word(string, n)
print(new_string)  # Output: This is sample string.

This is sample string.

In [50]:
#  49. Insert a word at the nth position in a string.

def insert_word_at_position(s, word, n):
  """
  Inserts a word at the nth position in a string.

  Args:
    s: The input string.
    word: The word to insert.
    n: The position to insert the word.

  Returns:
    The string with the word inserted at the nth position.
  """
  words = s.split()
  if n <= 0:
    words.insert(0, word)
  elif n > len(words):
    words.append(word)
  else:
    words.insert(n - 1, word)
  return " ".join(words)

# Example usage
string = "This is a sample string."
word_to_insert = "new"
position = 3
new_string = insert_word_at_position(string, word_to_insert, position)
print(new_string)  # Output: This is new a sample string.

This is new a sample string.

In [51]:
#  50. Convert a CSV string to a list of lists.

import csv
import io

def csv_string_to_list_of_lists(csv_string):
  """
  Converts a CSV string to a list of lists.

  Args:
    csv_string: The CSV string.

  Returns:
    A list of lists representing the CSV data.
  """
  reader = csv.reader(io.StringIO(csv_string))
  return list(reader)

**List Based Practice Problem :**

In [52]:
#  1. Create a list with integers from 1 to 10.

my_list = list(range(1, 11))

In [53]:
#  2. Find the length of a list without using the `len()` function.

def list_length(lst):
  """
  Finds the length of a list without using the `len()` function.

  Args:
    lst: The input list.

  Returns:
    The length of the list.
  """
  count = 0
  for _ in lst:
    count += 1
  return count

In [54]:
#  3. Append an element to the end of a list.

def append_to_list(lst, element):
  """
  Appends an element to the end of a list.

  Args:
    lst: The input list.
    element: The element to append.

  Returns:
    The list with the element appended.
  """
  lst.append(element)
  return lst

# Example usage
my_list = [1, 2, 3]
new_element = 4
updated_list = append_to_list(my_list, new_element)
print(updated_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

In [55]:
# 4. Insert an element at a specific index in a list.

def insert_element_at_index(lst, element, index):
  """
  Inserts an element at a specific index in a list.

  Args:
    lst: The input list.
    element: The element to insert.
    index: The index at which to insert the element.

  Returns:
    The list with the element inserted.
  """
  lst.insert(index, element)
  return lst

# Example usage
my_list = [1, 2, 3, 4, 5]
element_to_insert = 10
index_to_insert = 2
new_list = insert_element_at_index(my_list, element_to_insert, index_to_insert)
print(new_list)  # Output: [1, 2, 10, 3, 4, 5]

[1, 2, 10, 3, 4, 5]

In [56]:
# 5. Remove an element from a list by its value.

def remove_element_by_value(lst, value):
  """
  Removes an element from a list by its value.

  Args:
    lst: The input list.
    value: The value to remove.

  Returns:
    The list with the value removed (if found).
  """
  try:
    lst.remove(value)
  except ValueError:
    print(f"Value {value} not found in the list.")
  return lst

# Example usage
my_list = [1, 2, 3, 4, 5]
value_to_remove = 3
new_list = remove_element_by_value(my_list, value_to_remove)
print(new_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [57]:
#  6. Remove an element from a list by its index.

def remove_element_by_index(lst, index):
  """
  Removes an element from a list by its index.

  Args:
    lst: The input list.
    index: The index of the element to remove.

  Returns:
    The list with the element removed (if the index is valid).
  """
  if 0 <= index < len(lst):
    del lst[index]
  else:
    print(f"Index {index} is out of range.")
  return lst

# Example usage
my_list = [1, 2, 3, 4, 5]
index_to_remove = 2
new_list = remove_element_by_index(my_list, index_to_remove)
print(new_list)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

In [58]:
#  7. Check if an element exists in a list.

def element_exists(lst, element):
  """
  Checks if an element exists in a list.

  Args:
    lst: The input list.
    element: The element to check for.

  Returns:
    True if the element exists in the list, False otherwise.
  """
  if element in lst:
    return True
  else:
    return False

In [59]:
#  8. Find the index of the first occurrence of an element in a list.

def find_first_occurrence_index(lst, element):
  """
  Finds the index of the first occurrence of an element in a list.

  Args:
    lst: The input list.
    element: The element to find.

  Returns:
    The index of the first occurrence of the element, or -1 if not found.
  """
  try:
    index = lst.index(element)
    return index
  except ValueError:
    return -1

# Example usage
my_list = [1, 2, 3, 4, 5, 2]
element_to_find = 2
index = find_first_occurrence_index(my_list, element_to_find)
print(f"The index of the first occurrence of {element_to_find} is: {index}")  # Output: The index of the first occurrence of 2 is: 1

The index of the first occurrence of 2 is: 1

In [60]:
#  9. Count the occurrences of an element in a list.

def count_occurrences(lst, element):
  """
  Counts the occurrences of an element in a list.

  Args:
    lst: The input list.
    element: The element to count.

  Returns:
    The number of times the element appears in the list.
  """
  count = 0
  for item in lst:
    if item == element:
      count += 1
  return count

# Example usage
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_count = 2
occurrences = count_occurrences(my_list, element_to_count)
print(f"The element {element_to_count} appears {occurrences} times in the list.")

The element 2 appears 3 times in the list.

In [61]:
# 10. Reverse the order of elements in a list.

def reverse_list(lst):
  """
  Reverses the order of elements in a list.

  Args:
    lst: The input list.

  Returns:
    The reversed list.
  """
  return lst[::-1]

# Example usage
my_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(my_list)
print(reversed_list)  # Output: [5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [62]:
# 11. Sort a list in ascending order.

def sort_list_ascending(lst):
  """
  Sorts a list in ascending order.

  Args:
    lst: The input list.

  Returns:
    The sorted list in ascending order.
  """
  lst.sort()
  return lst

# Example usage
my_list = [5, 2, 8, 1, 9]
sorted_list = sort_list_ascending(my_list)
print(sorted_list)  # Output: [1, 2, 5, 8, 9]

[1, 2, 5, 8, 9]

In [63]:
# 12. Sort a list in descending order.

def sort_list_descending(lst):
  """
  Sorts a list in descending order.

  Args:
    lst: The input list.

  Returns:
    The list sorted in descending order.
  """
  lst.sort(reverse=True)
  return lst

# Example usage
my_list = [5, 2, 8, 1, 9]
sorted_list = sort_list_descending(my_list)
print(sorted_list)  # Output: [9, 8, 5, 2, 1]

[9, 8, 5, 2, 1]

In [64]:
#  13. Create a list of even numbers from 1 to 20.

even_numbers = [num for num in range(1, 21) if num % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [65]:
# 14. Create a list of odd numbers from 1 to 20.

odd_numbers = [num for num in range(1, 21) if num % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [66]:
# 15. Find the sum of all elements in a list.

def sum_of_list_elements(lst):
  """
  Finds the sum of all elements in a list.

  Args:
    lst: The input list.

  Returns:
    The sum of all elements in the list.
  """
  total = 0
  for num in lst:
    total += num
  return total

# Example usage
my_list = [1, 2, 3, 4, 5]
sum_of_elements = sum_of_list_elements(my_list)
print(f"The sum of elements in the list is: {sum_of_elements}")

The sum of elements in the list is: 15

In [67]:
# 16. Find the maximum value in a list.

def find_max_value(lst):
  """
  Finds the maximum value in a list.

  Args:
    lst: The input list.

  Returns:
    The maximum value in the list.
  """
  if not lst:
    return None
  max_value = lst[0]
  for num in lst:
    if num > max_value:
      max_value = num
  return max_value

# Example usage
my_list = [5, 2, 8, 1, 9]
max_value = find_max_value(my_list)
print(f"The maximum value in the list is: {max_value}")

The maximum value in the list is: 9

In [68]:
# 17. Find the minimum value in a list.

def find_minimum(lst):
  """
  Finds the minimum value in a list.

  Args:
    lst: The input list.

  Returns:
    The minimum value in the list.
  """
  if not lst:
    return None
  min_value = lst[0]
  for num in lst:
    if num < min_value:
      min_value = num
  return min_value

In [69]:
# 18. Create a list of squares of numbers from 1 to 10.

squares = [num ** 2 for num in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
#  19. Create a list of random numbers.

import random

random_numbers = [random.randint(1, 100) for _ in range(10)]
print(random_numbers)

[51, 75, 43, 17, 53, 60, 66, 10, 4, 57]

In [71]:
#  20. Remove duplicates from a list.

def remove_duplicates(lst):
  """
  Removes duplicates from a list.

  Args:
    lst: The input list.

  Returns:
    A new list with duplicates removed.
  """
  unique_list = []
  for item in lst:
    if item not in unique_list:
      unique_list.append(item)
  return unique_list

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 5]
new_list = remove_duplicates(my_list)
print(new_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [72]:
#  21. Find the common elements between two lists.

def find_common_elements(list1, list2):
  """
  Finds the common elements between two lists.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A list containing the common elements.
  """
  common_elements = []
  for element in list1:
    if element in list2 and element not in common_elements:
      common_elements.append(element)
  return common_elements

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
common_elements = find_common_elements(list1, list2)
print(f"Common elements: {common_elements}")

Common elements: [4, 5]

In [73]:
# 22. Find the difference between two lists.

def find_difference_between_lists(list1, list2):
  """
  Finds the difference between two lists.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A list containing elements that are in list1 but not in list2.
  """
  difference = [item for item in list1 if item not in list2]
  return difference

# Example usage
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference = find_difference_between_lists(list1, list2)
print(f"Difference between the lists: {difference}")

Difference between the lists: [1, 2]

In [74]:
#  23. Merge two lists.

def merge_lists(list1, list2):
  """
  Merges two lists into a single list.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    A new list containing all elements from both input lists.
  """
  merged_list = list1 + list2
  return merged_list

# Example usage
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = merge_lists(list1, list2)
print(f"Merged list: {merged_list}")

Merged list: [1, 2, 3, 4, 5, 6]

In [75]:
# 24. Multiply all elements in a list by 2.

def multiply_list_elements_by_two(lst):
  """
  Multiplies all elements in a list by 2.

  Args:
    lst: The input list.

  Returns:
    A new list with all elements multiplied by 2.
  """
  new_list = [num * 2 for num in lst]
  return new_list

# Example usage
my_list = [1, 2, 3, 4, 5]
multiplied_list = multiply_list_elements_by_two(my_list)
print(multiplied_list)  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [76]:
# 25. Filter out all even numbers from a list.

def filter_even_numbers(lst):
  """
  Filters out all even numbers from a list.

  Args:
    lst: The input list.

  Returns:
    A new list containing only the odd numbers.
  """
  odd_numbers = [num for num in lst if num % 2 != 0]
  return odd_numbers

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_list = filter_even_numbers(my_list)
print(filtered_list)  # Output: [1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

In [77]:
#  26. Convert a list of strings to a list of integers.

def convert_strings_to_integers(str_list):
  """
  Converts a list of strings to a list of integers.

  Args:
    str_list: The input list of strings.

  Returns:
    A new list with the strings converted to integers.
  """
  int_list = []
  for s in str_list:
    try:
      int_list.append(int(s))
    except ValueError:
      print(f"Could not convert '{s}' to an integer.")
  return int_list

# Example usage
string_list = ["1", "2", "3", "4", "5"]
integer_list = convert_strings_to_integers(string_list)
print(integer_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [78]:
#  27. Convert a list of integers to a list of strings.

def int_list_to_str_list(int_list):
  """
  Converts a list of integers to a list of strings.

  Args:
    int_list: The input list of integers.

  Returns:
    A new list with integers converted to strings.
  """
  str_list = [str(num) for num in int_list]
  return str_list

# Example usage
my_list = [1, 2, 3, 4, 5]
str_list = int_list_to_str_list(my_list)
print(str_list)  # Output: ['1', '2', '3', '4', '5']

['1', '2', '3', '4', '5']

In [79]:
#  28. Flatten a nested list.

def flatten_list(nested_list):
  """
  Flattens a nested list.

  Args:
    nested_list: The input nested list.

  Returns:
    A new list with all elements flattened.
  """
  flat_list = []
  for item in nested_list:
    if isinstance(item, list):
      flat_list.extend(flatten_list(item))
    else:
      flat_list.append(item)
  return flat_list

# Example usage
nested_list = [[1, 2, 3], [4, 5], [6]]
flattened_list = flatten_list(nested_list)
print(flattened_list)  # Output: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [80]:
#  29. Create a list of the first 10 Fibonacci numbers.

def fibonacci_sequence(n):
  """
  Generates a list of the first n Fibonacci numbers.

  Args:
    n: The number of Fibonacci numbers to generate.

  Returns:
    A list of the first n Fibonacci numbers.
  """
  if n <= 0:
    return []
  elif n == 1:
    return [0]
  else:
    fib_list = [0, 1]
    while len(fib_list) < n:
      next_fib = fib_list[-1] + fib_list[-2]
      fib_list.append(next_fib)
    return fib_list

# Generate the first 10 Fibonacci numbers
fibonacci_numbers = fibonacci_sequence(10)
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [81]:
# 30. Check if a list is sorted.

def is_list_sorted(lst):
  """
  Checks if a list is sorted in ascending order.

  Args:
    lst: The input list.

  Returns:
    True if the list is sorted, False otherwise.
  """
  for i in range(1, len(lst)):
    if lst[i] < lst[i - 1]:
      return False
  return True

# Example usage
my_list = [1, 2, 3, 4, 5]
if is_list_sorted(my_list):
  print("The list is sorted.")
else:
  print("The list is not sorted.")

The list is sorted.

In [82]:
#  31. Rotate a list to the left by `n` positions.

def rotate_list_left(lst, n):
  """
  Rotates a list to the left by n positions.

  Args:
    lst: The input list.
    n: The number of positions to rotate.

  Returns:
    The rotated list.
  """
  n = n % len(lst)  # Handle cases where n is greater than the list length
  rotated_list = lst[n:] + lst[:n]
  return rotated_list

In [83]:
#  32. Rotate a list to the right by `n` positions.

def rotate_list_right(lst, n):
  """
  Rotates a list to the right by n positions.

  Args:
    lst: The input list.
    n: The number of positions to rotate.

  Returns:
    The rotated list.
  """
  n = n % len(lst)  # Handle cases where n is greater than the list length
  rotated_list = lst[-n:] + lst[:-n]
  return rotated_list

# Example usage
my_list = [1, 2, 3, 4, 5]
n = 2
rotated_list = rotate_list_right(my_list, n)
print(rotated_list)  # Output: [4, 5, 1, 2, 3]

[4, 5, 1, 2, 3]

In [84]:
#  33. Create a list of prime numbers up to 50.

def is_prime(n):
  """
  Checks if a number is prime.

  Args:
    n: The number to check.

  Returns:
    True if the number is prime, False otherwise.
  """
  if n <= 1:
    return False
  if n <= 3:
    return True
  if n % 2 == 0 or n % 3 == 0:
    return False
  i = 5
  while i * i <= n:
    if n % i == 0 or n % (i + 2) == 0:
      return False
    i += 6
  return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [85]:
#  34. Split a list into chunks of size `n`.

def split_list_into_chunks(lst, n):
  """
  Splits a list into chunks of size n.

  Args:
    lst: The input list.
    n: The size of each chunk.

  Returns:
    A list of chunks.
  """
  chunks = []
  for i in range(0, len(lst), n):
    chunks.append(lst[i:i + n])
  return chunks

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = split_list_into_chunks(my_list, chunk_size)
print(chunks)  # Output: [[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [86]:
#  35. Find the second largest number in a list.

def find_second_largest(lst):
  """
  Finds the second largest number in a list.

  Args:
    lst: The input list.

  Returns:
    The second largest number in the list, or None if the list has less than two elements.
  """
  if len(lst) < 2:
    return None

  largest = max(lst[0], lst[1])
  second_largest = min(lst[0], lst[1])

  for i in range(2, len(lst)):
    if lst[i] > largest:
      second_largest = largest
      largest = lst[i]
    elif lst[i] > second_largest and lst[i] != largest:
      second_largest = lst[i]
  return second_largest

In [87]:
# 36. Replace every element in a list with its square.

def square_list_elements(lst):
  """
  Replaces every element in a list with its square.

  Args:
    lst: The input list.

  Returns:
    A new list with each element squared.
  """
  squared_list = [num ** 2 for num in lst]
  return squared_list

# Example usage
my_list = [1, 2, 3, 4, 5]
squared_list = square_list_elements(my_list)
print(squared_list)  # Output: [1, 4, 9, 16, 25]

[1, 4, 9, 16, 25]

In [88]:
# 37. Convert a list to a dictionary where list elements become keys and their
# indices become values.

def list_to_dict(lst):
  """
  Converts a list to a dictionary where list elements become keys and their
  indices become values.

  Args:
    lst: The input list.

  Returns:
    A dictionary with list elements as keys and their indices as values.
  """
  result_dict = {}
  for index, element in enumerate(lst):
    result_dict[element] = index
  return result_dict

# Example usage
my_list = ["apple", "banana", "cherry"]
result = list_to_dict(my_list)
print(result)  # Output: {'apple': 0, 'banana': 1, 'cherry': 2}

{'apple': 0, 'banana': 1, 'cherry': 2}

In [89]:
#  38. Shuffle the elements of a list randomly.

import random

def shuffle_list(lst):
  """
  Shuffles the elements of a list randomly.

  Args:
    lst: The input list.

  Returns:
    The shuffled list.
  """
  random.shuffle(lst)
  return lst

# Example usage
my_list = [1, 2, 3, 4, 5]
shuffled_list = shuffle_list(my_list)
print(shuffled_list)

[1, 3, 4, 2, 5]

In [90]:
#  39. Create a list of the first 10 factorial numbers.

def factorial(n):
  """
  Calculates the factorial of a number.

  Args:
    n: The number to calculate the factorial of.

  Returns:
    The factorial of the number.
  """
  if n == 0:
    return 1
  else:
    result = 1
    for i in range(1, n + 1):
      result *= i
    return result

# Create a list of the first 10 factorial numbers
factorial_numbers = [factorial(i) for i in range(1, 11)]
print(factorial_numbers)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [91]:
#  40. Check if two lists have at least one element in common.

def have_common_elements(list1, list2):
  """
  Checks if two lists have at least one element in common.

  Args:
    list1: The first list.
    list2: The second list.

  Returns:
    True if the lists have a common element, False otherwise.
  """
  for element in list1:
    if element in list2:
      return True
  return False

In [92]:
#  41. Remove all elements from a list.

def clear_list(lst):
  """
  Removes all elements from a list.

  Args:
    lst: The input list.

  Returns:
    An empty list.
  """
  lst.clear()
  return lst

# Example usage
my_list = [1, 2, 3, 4, 5]
cleared_list = clear_list(my_list)
print(cleared_list)  # Output: []

[]

In [93]:
#  42. Replace negative numbers in a list with 0.

def replace_negative_with_zero(lst):
  """
  Replaces negative numbers in a list with 0.

  Args:
    lst: The input list.

  Returns:
    A new list with negative numbers replaced by 0.
  """
  new_list = [num if num >= 0 else 0 for num in lst]
  return new_list

# Example usage
my_list = [1, -2, 3, -4, 5]
result_list = replace_negative_with_zero(my_list)
print(result_list)  # Output: [1, 0, 3, 0, 5]

[1, 0, 3, 0, 5]

In [94]:
#  43. Convert a string into a list of words.

def string_to_word_list(text):
  """
  Converts a string into a list of words.

  Args:
    text: The input string.

  Returns:
    A list of words from the string.
  """
  words = text.split()
  return words

# Example usage
text = "This is a sample string."
word_list = string_to_word_list(text)
print(word_list)  # Output: ['This', 'is', 'a', 'sample', 'string.']

['This', 'is', 'a', 'sample', 'string.']

In [95]:
#  44. Convert a list of words into a string.

def word_list_to_string(word_list):
  """
  Converts a list of words into a string.

  Args:
    word_list: The input list of words.

  Returns:
    A string containing the words from the list.
  """
  text = " ".join(word_list)
  return text

# Example usage
word_list = ["This", "is", "a", "sample", "string."]
text = word_list_to_string(word_list)
print(text)  # Output: This is a sample string.

This is a sample string.

In [96]:
# 45. Create a list of the first `n` powers of 2.

def powers_of_two(n):
  """
  Creates a list of the first n powers of 2.

  Args:
    n: The number of powers of 2 to generate.

  Returns:
    A list of the first n powers of 2.
  """
  powers = []
  for i in range(n):
    powers.append(2 ** i)
  return powers

# Example usage
n = 5
powers_of_two_list = powers_of_two(n)
print(powers_of_two_list)  # Output: [1, 2, 4, 8, 16]

[1, 2, 4, 8, 16]

In [97]:
#  46. Find the longest string in a list of strings.

def find_longest_string(str_list):
  """
  Finds the longest string in a list of strings.

  Args:
    str_list: The input list of strings.

  Returns:
    The longest string in the list.
  """
  if not str_list:
    return None
  longest_string = str_list[0]
  for string in str_list:
    if len(string) > len(longest_string):
      longest_string = string
  return longest_string

In [98]:
#  47. Find the shortest string in a list of strings.

def find_shortest_string(str_list):
  """
  Finds the shortest string in a list of strings.

  Args:
    str_list: The input list of strings.

  Returns:
    The shortest string in the list.
  """
  if not str_list:
    return None
  shortest_string = str_list[0]
  for string in str_list:
    if len(string) < len(shortest_string):
      shortest_string = string
  return shortest_string

In [99]:
#  48. Create a list of the first `n` triangular numbers.

def triangular_numbers(n):
  """
  Creates a list of the first n triangular numbers.

  Args:
    n: The number of triangular numbers to generate.

  Returns:
    A list of the first n triangular numbers.
  """
  triangular_nums = []
  for i in range(1, n + 1):
    triangular_nums.append(i * (i + 1) // 2)
  return triangular_nums

# Example usage
n = 10
triangular_list = triangular_numbers(n)
print(triangular_list)  # Output: [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [100]:
#  49. Check if a list contains another list as a subsequence.

def contains_subsequence(main_list, sub_list):
  """
  Checks if a list contains another list as a subsequence.

  Args:
    main_list: The main list.
    sub_list: The potential subsequence.

  Returns:
    True if the main list contains the sub_list as a subsequence, False otherwise.
  """
  i = 0
  j = 0
  while i < len(main_list) and j < len(sub_list):
    if main_list[i] == sub_list[j]:
      j += 1
    i += 1
  return j == len(sub_list)

# Example usage
main_list = [1, 2, 3, 4, 5, 6]
sub_list = [2, 4, 6]
if contains_subsequence(main_list, sub_list):
  print("The main list contains the sub_list as a subsequence.")
else:
  print("The main list does not contain the sub_list as a subsequence.")

The main list contains the sub_list as a subsequence.

In [101]:
# 50. Swap two elements in a list by their indices.

def swap_elements_by_index(lst, index1, index2):
  """
  Swaps two elements in a list by their indices.

  Args:
    lst: The input list.
    index1: The index of the first element.
    index2: The index of the second element.

  Returns:
    The list with the elements swapped.
  """
  if index1 < 0 or index1 >= len(lst) or index2 < 0 or index2 >= len(lst):
    return "Invalid indices"
  lst[index1], lst[index2] = lst[index2], lst[index1]
  return lst

# Example usage
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3
swapped_list = swap_elements_by_index(my_list, index1, index2)
print(swapped_list)  # Output: [1, 4, 3, 2, 5]

[1, 4, 3, 2, 5]

**Tuple Based Practice Problem :**

In [154]:
#  1. Create a tuple with integers from 1 to 5.

# 1. Create a tuple with integers from 1 to 5.
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [155]:
#  2. Access the third element of a tuple.

# Access the third element of a tuple.
third_element = my_tuple[2]
print(third_element)

3

In [156]:
#  3. Find the length of a tuple without using the `len()` function.

def find_tuple_length(my_tuple):
  """
  Finds the length of a tuple without using the `len()` function.

  Args:
    my_tuple: The input tuple.

  Returns:
    The length of the tuple.
  """
  count = 0
  for _ in my_tuple:
    count += 1
  return count

In [157]:
#  4. Count the occurrences of an element in a tuple.

def count_occurrences(my_tuple, element):
  """
  Counts the occurrences of an element in a tuple.

  Args:
    my_tuple: The input tuple.
    element: The element to count.

  Returns:
    The number of occurrences of the element in the tuple.
  """
  count = 0
  for item in my_tuple:
    if item == element:
      count += 1
  return count

# Example usage
my_tuple = (1, 2, 2, 3, 4, 2, 5)
element = 2
occurrences = count_occurrences(my_tuple, element)
print(f"The element {element} appears {occurrences} times in the tuple.")

The element 2 appears 3 times in the tuple.

In [158]:
#  5. Find the index of the first occurrence of an element in a tuple.

def find_first_occurrence_index(my_tuple, element):
  """
  Finds the index of the first occurrence of an element in a tuple.

  Args:
    my_tuple: The input tuple.
    element: The element to find.

  Returns:
    The index of the first occurrence of the element, or -1 if not found.
  """
  try:
    index = my_tuple.index(element)
    return index
  except ValueError:
    return -1

# Example usage
my_tuple = (1, 2, 3, 4, 5, 2)
element = 2
index = find_first_occurrence_index(my_tuple, element)
print(f"The index of the first occurrence of {element} is {index}")

The index of the first occurrence of 2 is 1

In [159]:
# 6. Check if an element exists in a tuple.

def element_exists_in_tuple(my_tuple, element):
  """
  Checks if an element exists in a tuple.

  Args:
    my_tuple: The input tuple.
    element: The element to check for.

  Returns:
    True if the element exists in the tuple, False otherwise.
  """
  if element in my_tuple:
    return True
  else:
    return False

# Example usage
my_tuple = (1, 2, 3, 4, 5)
element = 3
if element_exists_in_tuple(my_tuple, element):
  print(f"{element} exists in the tuple.")
else:
  print(f"{element} does not exist in the tuple.")

3 exists in the tuple.

In [160]:
#  7. Convert a tuple to a list.

def tuple_to_list(my_tuple):
  """
  Converts a tuple to a list.

  Args:
    my_tuple: The input tuple.

  Returns:
    A list containing the elements of the tuple.
  """
  my_list = list(my_tuple)
  return my_list

# Example usage
my_tuple = (1, 2, 3, 4, 5)
my_list = tuple_to_list(my_tuple)
print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [161]:
#  8. Convert a list to a tuple.

def list_to_tuple(my_list):
  """
  Converts a list to a tuple.

  Args:
    my_list: The input list.

  Returns:
    A tuple containing the elements of the list.
  """
  my_tuple = tuple(my_list)
  return my_tuple

# Example usage
my_list = [1, 2, 3, 4, 5]
my_tuple = list_to_tuple(my_list)
print(my_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [162]:
#  9. Unpack the elements of a tuple into variables.

my_tuple = (10, 20, 30)
a, b, c = my_tuple
print(a)  # Output: 10
print(b)  # Output: 20
print(c)  # Output: 30

10
20
30

In [163]:
#  10. Create a tuple of even numbers from 1 to 10.

even_numbers = tuple(num for num in range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

In [164]:
#  11. Create a tuple of odd numbers from 1 to 10.

odd_numbers = tuple(num for num in range(1, 11, 2))
print(odd_numbers)

(1, 3, 5, 7, 9)

In [165]:
#  12. Concatenate two tuples.

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated_tuple = tuple1 + tuple2
print(concatenated_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [166]:
#  13. Repeat a tuple three times.

my_tuple = (1, 2, 3)
repeated_tuple = my_tuple * 3
print(repeated_tuple)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [167]:
#  14. Check if a tuple is empty.

def is_tuple_empty(my_tuple):
  """
  Checks if a tuple is empty.

  Args:
    my_tuple: The input tuple.

  Returns:
    True if the tuple is empty, False otherwise.
  """
  if not my_tuple:
    return True
  else:
    return False

# Example usage
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

if is_tuple_empty(empty_tuple):
  print("The tuple is empty.")
else:
  print("The tuple is not empty.")

if is_tuple_empty(non_empty_tuple):
  print("The tuple is empty.")
else:
  print("The tuple is not empty.")

The tuple is empty.
The tuple is not empty.

In [168]:
#  15. Create a nested tuple.

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
print(nested_tuple)

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [169]:
#  16. Access the first element of a nested tuple.

nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
first_element = nested_tuple[0][0]
print(first_element)  # Output: 1

1

In [170]:
#  17. Create a tuple with a single element.

single_element_tuple = (1,)
print(single_element_tuple)

(1,)

In [171]:
#  18. Compare two tuples.

def compare_tuples(tuple1, tuple2):
  """
  Compares two tuples.

  Args:
    tuple1: The first tuple.
    tuple2: The second tuple.

  Returns:
    -1 if tuple1 is less than tuple2,
     0 if tuple1 is equal to tuple2,
     1 if tuple1 is greater than tuple2.
  """
  if tuple1 < tuple2:
    return -1
  elif tuple1 == tuple2:
    return 0
  else:
    return 1

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
result = compare_tuples(tuple1, tuple2)
print(result)  # Output: -1

-1

In [172]:
# 19. Delete a tuple.

my_tuple = (1, 2, 3)
del my_tuple
# Now my_tuple is no longer defined

In [173]:
#  20. Slice a tuple.

my_tuple = (1, 2, 3, 4, 5)
sliced_tuple = my_tuple[1:4]  # Slice from index 1 to 3
print(sliced_tuple)  # Output: (2, 3, 4)

(2, 3, 4)

In [174]:
#  21. Find the maximum value in a tuple.

def find_max_in_tuple(my_tuple):
  """
  Finds the maximum value in a tuple.

  Args:
    my_tuple: The input tuple.

  Returns:
    The maximum value in the tuple.
  """
  if not my_tuple:
    return None
  max_value = my_tuple[0]
  for element in my_tuple:
    if element > max_value:
      max_value = element
  return max_value

In [175]:
#  22. Find the minimum value in a tuple.

def find_min_in_tuple(my_tuple):
  """
  Finds the minimum value in a tuple.

  Args:
    my_tuple: The input tuple.

  Returns:
    The minimum value in the tuple.
  """
  if not my_tuple:
    return None
  min_value = my_tuple[0]
  for element in my_tuple:
    if element < min_value:
      min_value = element
  return min_value

In [176]:
#  23. Convert a string to a tuple of characters.

def string_to_tuple(text):
  """
  Converts a string to a tuple of characters.

  Args:
    text: The input string.

  Returns:
    A tuple of characters from the string.
  """
  return tuple(text)

# Example usage
text = "Hello"
char_tuple = string_to_tuple(text)
print(char_tuple)  # Output: ('H', 'e', 'l', 'l', 'o')

('H', 'e', 'l', 'l', 'o')

In [177]:
#  24. Convert a tuple of characters to a string.

def tuple_to_string(char_tuple):
  """
  Converts a tuple of characters to a string.

  Args:
    char_tuple: The input tuple of characters.

  Returns:
    A string containing the characters from the tuple.
  """
  return "".join(char_tuple)

# Example usage
char_tuple = ('H', 'e', 'l', 'l', 'o')
text = tuple_to_string(char_tuple)
print(text)  # Output: Hello

Hello

In [178]:
# 25. Create a tuple from multiple data types.

my_tuple = (1, "hello", 3.14, True)
print(my_tuple)

(1, 'hello', 3.14, True)

In [179]:
#  26. Check if two tuples are identical.

def are_tuples_identical(tuple1, tuple2):
  """
  Checks if two tuples are identical.

  Args:
    tuple1: The first tuple.
    tuple2: The second tuple.

  Returns:
    True if the tuples are identical, False otherwise.
  """
  if tuple1 == tuple2:
    return True
  else:
    return False

In [180]:
#  27. Sort the elements of a tuple.

def sort_tuple(my_tuple):
  """
  Sorts the elements of a tuple.

  Args:
    my_tuple: The input tuple.

  Returns:
    A new tuple with elements sorted in ascending order.
  """
  sorted_list = sorted(my_tuple)
  sorted_tuple = tuple(sorted_list)
  return sorted_tuple

# Example usage
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6)
sorted_tuple = sort_tuple(my_tuple)
print(sorted_tuple)  # Output: (1, 1, 2, 3, 4, 5, 6, 9)

(1, 1, 2, 3, 4, 5, 6, 9)

In [181]:
#  28. Convert a tuple of integers to a tuple of strings.

def int_tuple_to_str_tuple(int_tuple):
  """
  Converts a tuple of integers to a tuple of strings.

  Args:
    int_tuple: The input tuple of integers.

  Returns:
    A tuple of strings.
  """
  str_tuple = tuple(str(num) for num in int_tuple)
  return str_tuple

# Example usage
int_tuple = (1, 2, 3, 4, 5)
str_tuple = int_tuple_to_str_tuple(int_tuple)
print(str_tuple)  # Output: ('1', '2', '3', '4', '5')

('1', '2', '3', '4', '5')

In [182]:
# 29. Convert a tuple of strings to a tuple of integers.

def str_tuple_to_int_tuple(str_tuple):
  """
  Converts a tuple of strings to a tuple of integers.

  Args:
    str_tuple: The input tuple of strings.

  Returns:
    A tuple of integers.
  """
  int_tuple = tuple(int(num) for num in str_tuple)
  return int_tuple

# Example usage
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = str_tuple_to_int_tuple(str_tuple)
print(int_tuple)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [183]:
#  30. Merge two tuples.

def merge_tuples(tuple1, tuple2):
  """
  Merges two tuples.

  Args:
    tuple1: The first tuple.
    tuple2: The second tuple.

  Returns:
    A new tuple containing the elements of both input tuples.
  """
  merged_tuple = tuple1 + tuple2
  return merged_tuple

# Example usage
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = merge_tuples(tuple1, tuple2)
print(merged_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [184]:
#  31. Flatten a nested tuple.

def flatten_tuple(nested_tuple):
  """
  Flattens a nested tuple.

  Args:
    nested_tuple: The input nested tuple.

  Returns:
    A flattened tuple.
  """
  result = []
  for item in nested_tuple:
    if isinstance(item, tuple):
      result.extend(flatten_tuple(item))
    else:
      result.append(item)
  return tuple(result)

# Example usage
nested_tuple = ((1, 2), (3, 4, 5), (6,))
flattened_tuple = flatten_tuple(nested_tuple)
print(flattened_tuple)  # Output: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [185]:
#  32. Create a tuple of the first 5 prime numbers.

def is_prime(n):
  """
  Checks if a number is prime.

  Args:
    n: The number to check.

  Returns:
    True if the number is prime, False otherwise.
  """
  if n <= 1:
    return False
  if n <= 3:
    return True
  if n % 2 == 0 or n % 3 == 0:
    return False
  i = 5
  while i * i <= n:
    if n % i == 0 or n % (i + 2) == 0:
      return False
    i += 6
  return True

def first_n_primes(n):
  """
  Creates a tuple of the first n prime numbers.

  Args:
    n: The number of prime numbers to find.

  Returns:
    A tuple containing the first n prime numbers.
  """
  prime_numbers = []
  num = 2
  while len(prime_numbers) < n:
    if is_prime(num):
      prime_numbers.append(num)
    num += 1
  return tuple(prime_numbers)

# Create a tuple of the first 5 prime numbers
prime_tuple = first_n_primes(5)
print(prime_tuple)  # Output: (2, 3, 5, 7, 11)

(2, 3, 5, 7, 11)

In [186]:
#  33. Check if a tuple is a palindrome.

def is_palindrome_tuple(my_tuple):
  """
  Checks if a tuple is a palindrome.

  Args:
    my_tuple: The input tuple.

  Returns:
    True if the tuple is a palindrome, False otherwise.
  """
  # Convert the tuple to a string for easier comparison
  tuple_str = "".join(str(x) for x in my_tuple)
  # Check if the string is equal to its reversed version
  return tuple_str == tuple_str[::-1]

# Example usage
my_tuple = (1, 2, 3, 2, 1)
if is_palindrome_tuple(my_tuple):
  print("The tuple is a palindrome.")
else:
  print("The tuple is not a palindrome.")

The tuple is a palindrome.

In [187]:
# 34. Create a tuple of squares of numbers from 1 to 5.

squares_tuple = tuple(x**2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

In [188]:
#  35. Filter out all even numbers from a tuple.

def filter_even_numbers(my_tuple):
  """
  Filters out all even numbers from a tuple.

  Args:
    my_tuple: The input tuple.

  Returns:
    A new tuple containing only the odd numbers from the input tuple.
  """
  odd_numbers = tuple(num for num in my_tuple if num % 2 != 0)
  return odd_numbers

# Example usage
my_tuple = (1, 2, 3, 4, 5, 6)
odd_tuple = filter_even_numbers(my_tuple)
print(odd_tuple)  # Output: (1, 3, 5)

(1, 3, 5)

In [189]:
#  36. Multiply all elements in a tuple by 2.

def multiply_tuple_elements_by_two(my_tuple):
  """
  Multiplies all elements in a tuple by 2.

  Args:
    my_tuple: The input tuple.

  Returns:
    A new tuple with all elements multiplied by 2.
  """
  result = tuple(x * 2 for x in my_tuple)
  return result

# Example usage
my_tuple = (1, 2, 3, 4, 5)
multiplied_tuple = multiply_tuple_elements_by_two(my_tuple)
print(multiplied_tuple)  # Output: (2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

In [190]:
#  37. Create a tuple of random numbers.

import random

def create_random_number_tuple(n):
  """
  Creates a tuple of random numbers.

  Args:
    n: The number of random numbers to generate.

  Returns:
    A tuple of random numbers.
  """
  random_numbers = [random.randint(1, 100) for _ in range(n)]
  return tuple(random_numbers)

# Example usage
n = 5
random_tuple = create_random_number_tuple(n)
print(random_tuple)

(76, 100, 47, 83, 100)

In [191]:
#  38. Check if a tuple is sorted.

def is_tuple_sorted(my_tuple):
  """
  Checks if a tuple is sorted in ascending order.

  Args:
    my_tuple: The input tuple.

  Returns:
    True if the tuple is sorted, False otherwise.
  """
  for i in range(len(my_tuple) - 1):
    if my_tuple[i] > my_tuple[i + 1]:
      return False
  return True

# Example usage
sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (1, 3, 2, 4, 5)

if is_tuple_sorted(sorted_tuple):
  print("The tuple is sorted.")
else:
  print("The tuple is not sorted.")

if is_tuple_sorted(unsorted_tuple):
  print("The tuple is sorted.")
else:
  print("The tuple is not sorted.")

The tuple is sorted.
The tuple is not sorted.

In [192]:
# 39. Rotate a tuple to the left by `n` positions.

def rotate_tuple_left(my_tuple, n):
  """
  Rotates a tuple to the left by n positions.

  Args:
    my_tuple: The input tuple.
    n: The number of positions to rotate.

  Returns:
    The rotated tuple.
  """
  n = n % len(my_tuple)  # Handle cases where n is greater than the length of the tuple
  rotated_tuple = my_tuple[n:] + my_tuple[:n]
  return rotated_tuple

# Example usage
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_tuple_left(my_tuple, n)
print(rotated_tuple)  # Output: (3, 4, 5, 1, 2)

(3, 4, 5, 1, 2)

In [193]:
#  40. Rotate a tuple to the right by `n` positions.

def rotate_tuple_right(my_tuple, n):
  """
  Rotates a tuple to the right by n positions.

  Args:
    my_tuple: The input tuple.
    n: The number of positions to rotate.

  Returns:
    The rotated tuple.
  """
  n = n % len(my_tuple)  # Handle cases where n is greater than the length of the tuple
  rotated_tuple = my_tuple[-n:] + my_tuple[:-n]
  return rotated_tuple

# Example usage
my_tuple = (1, 2, 3, 4, 5)
n = 2
rotated_tuple = rotate_tuple_right(my_tuple, n)
print(rotated_tuple)  # Output: (4, 5, 1, 2, 3)

(4, 5, 1, 2, 3)

In [194]:
#  41. Create a tuple of the first 5 Fibonacci numbers.

def fibonacci_tuple(n):
  """
  Creates a tuple of the first n Fibonacci numbers.

  Args:
    n: The number of Fibonacci numbers to generate.

  Returns:
    A tuple containing the first n Fibonacci numbers.
  """
  if n <= 0:
    return ()
  elif n == 1:
    return (0,)
  else:
    fib_list = [0, 1]
    while len(fib_list) < n:
      next_fib = fib_list[-1] + fib_list[-2]
      fib_list.append(next_fib)
    return tuple(fib_list)

# Create a tuple of the first 5 Fibonacci numbers
fib_tuple = fibonacci_tuple(5)
print(fib_tuple)  # Output: (0, 1, 1, 2, 3)

(0, 1, 1, 2, 3)

In [195]:
#  42. Create a tuple from user input.

def create_tuple_from_input():
  """
  Creates a tuple from user input.

  Returns:
    A tuple containing the user-provided values.
  """
  input_str = input("Enter elements separated by spaces: ")
  elements = input_str.split()
  my_tuple = tuple(elements)
  return my_tuple

# Example usage
user_tuple = create_tuple_from_input()
print(user_tuple)

Enter elements separated by spaces: 22 25 23 22 27 25
('22', '25', '23', '22', '27', '25')

In [196]:
#  43. Swap two elements in a tuple.

def swap_tuple_elements(my_tuple, index1, index2):
  """
  Swaps two elements in a tuple.

  Args:
    my_tuple: The input tuple.
    index1: The index of the first element.
    index2: The index of the second element.

  Returns:
    A new tuple with the elements swapped.
  """
  if index1 < 0 or index1 >= len(my_tuple) or index2 < 0 or index2 >= len(my_tuple):
    return "Invalid indices"

  list_tuple = list(my_tuple)
  list_tuple[index1], list_tuple[index2] = list_tuple[index2], list_tuple[index1]
  return tuple(list_tuple)

# Example usage
my_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
swapped_tuple = swap_tuple_elements(my_tuple, index1, index2)
print(swapped_tuple)  # Output: (1, 4, 3, 2, 5)

(1, 4, 3, 2, 5)

In [197]:
#  44. Reverse the elements of a tuple.

def reverse_tuple(my_tuple):
  """
  Reverses the elements of a tuple.

  Args:
    my_tuple: The input tuple.

  Returns:
    A new tuple with the elements reversed.
  """
  reversed_tuple = my_tuple[::-1]
  return reversed_tuple

# Example usage
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(my_tuple)
print(reversed_tuple)  # Output: (5, 4, 3, 2, 1)

(5, 4, 3, 2, 1)

In [198]:
#  45. Create a tuple of the first `n` powers of 2.

def powers_of_two(n):
  """
  Creates a tuple of the first n powers of 2.

  Args:
    n: The number of powers of 2 to generate.

  Returns:
    A tuple of the first n powers of 2.
  """
  powers_of_two_list = [2**i for i in range(n)]
  return tuple(powers_of_two_list)

# Example usage
n = 5
powers_of_two_tuple = powers_of_two(n)
print(powers_of_two_tuple)  # Output: (1, 2, 4, 8, 16)

(1, 2, 4, 8, 16)

In [199]:
#  46. Find the longest string in a tuple of strings.

def find_longest_string(str_tuple):
  """
  Finds the longest string in a tuple of strings.

  Args:
    str_tuple: The input tuple of strings.

  Returns:
    The longest string in the tuple.
  """
  if not str_tuple:
    return None
  longest_string = str_tuple[0]
  for string in str_tuple:
    if len(string) > len(longest_string):
      longest_string = string
  return longest_string

# Example usage
my_tuple = ("apple", "banana", "cherry", "date")
longest_str = find_longest_string(my_tuple)
print(longest_str)  # Output: banana

banana

In [200]:
#  47. Find the shortest string in a tuple of strings.

def find_shortest_string(str_tuple):
  """
  Finds the shortest string in a tuple of strings.

  Args:
    str_tuple: The input tuple of strings.

  Returns:
    The shortest string in the tuple.
  """
  if not str_tuple:
    return None
  shortest_string = str_tuple[0]
  for string in str_tuple:
    if len(string) < len(shortest_string):
      shortest_string = string
  return shortest_string

# Example usage
my_tuple = ("apple", "banana", "cherry", "date")
shortest_str = find_shortest_string(my_tuple)
print(shortest_str)  # Output: date

date

In [201]:
#  48. Create a tuple of the first `n` triangular numbers.

def triangular_numbers(n):
  """
  Creates a tuple of the first n triangular numbers.

  Args:
    n: The number of triangular numbers to generate.

  Returns:
    A tuple containing the first n triangular numbers.
  """
  triangular_numbers = []
  for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)
  return tuple(triangular_numbers)

# Example usage
n = 5
triangular_tuple = triangular_numbers(n)
print(triangular_tuple)  # Output: (1, 3, 6, 10, 15)

(1, 3, 6, 10, 15)

In [202]:
# 49. Check if a tuple contains another tuple as a subsequence.

def contains_subsequence(main_tuple, sub_tuple):
  """
  Checks if a tuple contains another tuple as a subsequence.

  Args:
    main_tuple: The main tuple.
    sub_tuple: The sub-tuple to check for.

  Returns:
    True if the main tuple contains the sub-tuple as a subsequence, False otherwise.
  """
  i = 0
  j = 0
  while i < len(main_tuple) and j < len(sub_tuple):
    if main_tuple[i] == sub_tuple[j]:
      j += 1
    i += 1
  return j == len(sub_tuple)

# Example usage
main_tuple = (1, 2, 3, 4, 5)
sub_tuple = (2, 3)
if contains_subsequence(main_tuple, sub_tuple):
  print("The main tuple contains the sub-tuple as a subsequence.")
else:
  print("The main tuple does not contain the sub-tuple as a subsequence.")

The main tuple contains the sub-tuple as a subsequence.

In [203]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

def alternating_ones_zeros(n):
  """
  Creates a tuple of alternating 1s and 0s of length n.

  Args:
    n: The length of the tuple.

  Returns:
    A tuple of alternating 1s and 0s.
  """
  result = []
  for i in range(n):
    if i % 2 == 0:
      result.append(1)
    else:
      result.append(0)
  return tuple(result)

# Example usage
n = 5
alternating_tuple = alternating_ones_zeros(n)
print(alternating_tuple)  # Output: (1, 0, 1, 0, 1)

(1, 0, 1, 0, 1)

**Set Based Practice Problem :**

In [114]:
#  1. Create a set with integers from 1 to 5.

my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [115]:
#  2. Add an element to a set.

my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

In [116]:
#  3. Remove an element from a set.

my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 6}

In [117]:
#  4. Check if an element exists in a set.

def element_exists_in_set(my_set, element):
  """
  Checks if an element exists in a set.

  Args:
    my_set: The input set.
    element: The element to check for.

  Returns:
    True if the element exists in the set, False otherwise.
  """
  if element in my_set:
    return True
  else:
    return False

# Example usage
my_set = {1, 2, 3, 4, 5}
element = 3
if element_exists_in_set(my_set, element):
  print(f"{element} exists in the set.")
else:
  print(f"{element} does not exist in the set.")

3 exists in the set.

In [118]:
#  5. Find the length of a set without using the `len()` function.

def find_set_length(my_set):
  """
  Finds the length of a set without using the `len()` function.

  Args:
    my_set: The input set.

  Returns:
    The length of the set.
  """
  count = 0
  for _ in my_set:
    count += 1
  return count

# Example usage
my_set = {1, 2, 3, 4, 5}
length = find_set_length(my_set)
print(length)  # Output: 5

5

In [119]:
#  6. Clear all elements from a set.

my_set = {1, 2, 3, 4, 5}  # Example set
my_set.clear()
print(my_set)  # Output: set()

set()

In [120]:
# 7. Create a set of even numbers from 1 to 10.

even_numbers = set(num for num in range(2, 11, 2))
print(even_numbers)

{2, 4, 6, 8, 10}

In [121]:
#  8. Create a set of odd numbers from 1 to 10.

odd_numbers = set(num for num in range(1, 11, 2))
print(odd_numbers)

{1, 3, 5, 7, 9}

In [122]:
#  9. Find the union of two sets.

def find_union_of_sets(set1, set2):
  """
  Finds the union of two sets.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    A new set containing the union of the two input sets.
  """
  union_set = set1 | set2
  return union_set

# Example usage
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = find_union_of_sets(set1, set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [123]:
# 10. Find the intersection of two sets.

def find_intersection_of_sets(set1, set2):
  """
  Finds the intersection of two sets.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    A new set containing the intersection of the two input sets.
  """
  intersection_set = set1 & set2
  return intersection_set

# Example usage
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = find_intersection_of_sets(set1, set2)
print(intersection_set)  # Output: {3}

{3}

In [124]:
#  11. Find the difference between two sets.

def find_difference_of_sets(set1, set2):
  """
  Finds the difference between two sets.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    A new set containing the difference between the two input sets (set1 - set2).
  """
  difference_set = set1 - set2
  return difference_set

# Example usage
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}
difference_set = find_difference_of_sets(set1, set2)
print(difference_set)  # Output: {1, 2}

{1, 2}

In [125]:
#  12. Check if a set is a subset of another set.

def is_subset(set1, set2):
  """
  Checks if set1 is a subset of set2.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    True if set1 is a subset of set2, False otherwise.
  """
  return set1.issubset(set2)

# Example usage
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
if is_subset(set1, set2):
  print("set1 is a subset of set2.")
else:
  print("set1 is not a subset of set2.")

set1 is a subset of set2.

In [126]:
#  13. Check if a set is a superset of another set.

def is_superset(set1, set2):
  """
  Checks if set1 is a superset of set2.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    True if set1 is a superset of set2, False otherwise.
  """
  return set1.issuperset(set2)

# Example usage
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
if is_superset(set1, set2):
  print("set1 is a superset of set2.")
else:
  print("set1 is not a superset of set2.")

set1 is a superset of set2.

In [127]:
#  14. Create a set from a list.

my_list = [1, 2, 3, 4, 5, 5, 6]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [128]:
# 15. Convert a set to a list.

my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [129]:
#  16. Remove a random element from a set.

import random

def remove_random_element(my_set):
  """
  Removes a random element from a set.

  Args:
    my_set: The input set.

  Returns:
    The set with a random element removed.
  """
  if not my_set:
    return "Set is empty."

  random_element = random.choice(list(my_set))
  my_set.remove(random_element)
  return my_set

# Example usage
my_set = {1, 2, 3, 4, 5}
result_set = remove_random_element(my_set)
print(result_set)

{1, 3, 4, 5}

In [130]:
#  17. Pop an element from a set.

my_set = {1, 2, 3, 4, 5}
element = my_set.pop()
print(element)  # Output: 1 (or any other element in the set)
print(my_set)  # Output: {2, 3, 4, 5}

1
{2, 3, 4, 5}

In [131]:
#  18. Check if two sets have no elements in common.

def sets_have_no_common_elements(set1, set2):
  """
  Checks if two sets have no elements in common.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    True if the sets have no common elements, False otherwise.
  """
  return set1.isdisjoint(set2)

# Example usage
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if sets_have_no_common_elements(set1, set2):
  print("The sets have no common elements.")
else:
  print("The sets have common elements.")

The sets have no common elements.

In [132]:
# 19. Find the symmetric difference between two sets.

def find_symmetric_difference_of_sets(set1, set2):
  """
  Finds the symmetric difference between two sets.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    A new set containing the symmetric difference of the two input sets.
  """
  symmetric_difference_set = set1 ^ set2
  return symmetric_difference_set

# Example usage
set1 = {1, 2, 3}
set2 = {3, 4, 5}
symmetric_difference_set = find_symmetric_difference_of_sets(set1, set2)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [133]:
# 20. Update a set with elements from another set.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.update(set2)
print(set1)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [134]:
#  21. Create a set of the first 5 prime numbers.

def is_prime(n):
  """
  Checks if a number is prime.

  Args:
    n: The number to check.

  Returns:
    True if the number is prime, False otherwise.
  """
  if n <= 1:
    return False
  if n <= 3:
    return True
  if n % 2 == 0 or n % 3 == 0:
    return False
  i = 5
  while i * i <= n:
    if n % i == 0 or n % (i + 2) == 0:
      return False
    i += 6
  return True

def first_n_primes(n):
  """
  Creates a set of the first n prime numbers.

  Args:
    n: The number of prime numbers to find.

  Returns:
    A set containing the first n prime numbers.
  """
  prime_numbers = []
  num = 2
  while len(prime_numbers) < n:
    if is_prime(num):
      prime_numbers.append(num)
    num += 1
  return set(prime_numbers)

# Create a set of the first 5 prime numbers
prime_set = first_n_primes(5)
print(prime_set)  # Output: {2, 3, 5, 7, 11}

{2, 3, 5, 7, 11}

In [135]:
# 22. Check if two sets are identical.

def are_sets_identical(set1, set2):
  """
  Checks if two sets are identical.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    True if the sets are identical, False otherwise.
  """
  return set1 == set2

# Example usage
set1 = {1, 2, 3}
set2 = {3, 2, 1}
if are_sets_identical(set1, set2):
  print("The sets are identical.")
else:
  print("The sets are not identical.")

The sets are identical.

In [136]:
#  23. Create a frozen set.

my_frozenset = frozenset([1, 2, 3, 4, 5])
print(my_frozenset)

frozenset({1, 2, 3, 4, 5})

In [137]:
#  24. Check if a set is disjoint with another set.

def are_sets_disjoint(set1, set2):
  """
  Checks if two sets are disjoint (have no common elements).

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    True if the sets are disjoint, False otherwise.
  """
  return set1.isdisjoint(set2)

# Example usage
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if are_sets_disjoint(set1, set2):
  print("The sets are disjoint.")
else:
  print("The sets are not disjoint.")

The sets are disjoint.

In [138]:
#  25. Create a set of squares of numbers from 1 to 5.

squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [139]:
# 26. Filter out all even numbers from a set.

def filter_even_numbers_from_set(my_set):
  """
  Filters out all even numbers from a set.

  Args:
    my_set: The input set.

  Returns:
    A new set containing only the odd numbers from the input set.
  """
  odd_numbers = set(num for num in my_set if num % 2 != 0)
  return odd_numbers

# Example usage
my_set = {1, 2, 3, 4, 5, 6}
odd_set = filter_even_numbers_from_set(my_set)
print(odd_set)  # Output: {1, 3, 5}

{1, 3, 5}

In [140]:
# 27. Multiply all elements in a set by 2.

def multiply_set_elements_by_two(my_set):
  """
  Multiplies all elements in a set by 2.

  Args:
    my_set: The input set.

  Returns:
    A new set with all elements multiplied by 2.
  """
  result = set(x * 2 for x in my_set)
  return result

# Example usage
my_set = {1, 2, 3, 4, 5}
multiplied_set = multiply_set_elements_by_two(my_set)
print(multiplied_set)  # Output: {2, 4, 6, 8, 10}

{2, 4, 6, 8, 10}

In [141]:
#  28. Create a set of random numbers.

import random

def create_random_number_set(n):
  """
  Creates a set of random numbers.

  Args:
    n: The number of random numbers to generate.

  Returns:
    A set of random numbers.
  """
  random_numbers = [random.randint(1, 100) for _ in range(n)]
  return set(random_numbers)

# Example usage
n = 5
random_set = create_random_number_set(n)
print(random_set)

{96, 60, 53, 54, 28}

In [142]:
#  29. Check if a set is empty.

def is_set_empty(my_set):
  """
  Checks if a set is empty.

  Args:
    my_set: The input set.

  Returns:
    True if the set is empty, False otherwise.
  """
  if not my_set:
    return True
  else:
    return False

# Example usage
empty_set = set()
non_empty_set = {1, 2, 3}

if is_set_empty(empty_set):
  print("The set is empty.")
else:
  print("The set is not empty.")

if is_set_empty(non_empty_set):
  print("The set is empty.")
else:
  print("The set is not empty.")

The set is empty.
The set is not empty.

In [143]:
#  30. Create a nested set (hint: use frozenset).

nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print(nested_set)

{frozenset({3, 4}), frozenset({1, 2})}

In [144]:
# 31. Remove an element from a set using the discard method.

my_set = {1, 2, 3, 4, 5}
my_set.discard(3)
print(my_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}

In [145]:
# 32. Compare two sets.

def compare_sets(set1, set2):
  """
  Compares two sets and prints information about their relationship.

  Args:
    set1: The first set.
    set2: The second set.
  """
  if set1 == set2:
    print("The sets are identical.")
  elif set1.issubset(set2):
    print("set1 is a subset of set2.")
  elif set1.issuperset(set2):
    print("set1 is a superset of set2.")
  elif set1.isdisjoint(set2):
    print("The sets are disjoint.")
  else:
    print("The sets have some common elements but are not subsets or supersets.")

# Example usage
set1 = {1, 2, 3}
set2 = {3, 2, 1, 4}
compare_sets(set1, set2)

set1 is a subset of set2.

In [146]:
#  33. Create a set from a string.

my_string = "hello"
my_set = set(my_string)
print(my_set)

{'o', 'e', 'l', 'h'}

In [147]:
#  34. Convert a set of strings to a set of integers.

def convert_strings_to_integers(string_set):
  """
  Converts a set of strings to a set of integers.

  Args:
    string_set: The input set of strings.

  Returns:
    A new set containing the integer values.
  """
  integer_set = set()
  for string in string_set:
    try:
      integer_set.add(int(string))
    except ValueError:
      print(f"Could not convert '{string}' to an integer.")
  return integer_set

# Example usage
string_set = {"1", "2", "3", "4", "5"}
integer_set = convert_strings_to_integers(string_set)
print(integer_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [148]:
#  35. Convert a set of integers to a set of strings.

def convert_integers_to_strings(integer_set):
  """
  Converts a set of integers to a set of strings.

  Args:
    integer_set: The input set of integers.

  Returns:
    A new set containing the string values.
  """
  string_set = set()
  for integer in integer_set:
    string_set.add(str(integer))
  return string_set

# Example usage
integer_set = {1, 2, 3, 4, 5}
string_set = convert_integers_to_strings(integer_set)
print(string_set)  # Output: {'1', '2', '3', '4', '5'}

{'2', '3', '5', '4', '1'}

In [149]:
#  36. Create a set from a tuple.

my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [150]:
#  37. Convert a set to a tuple.

my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

In [151]:
#  38. Find the maximum value in a set.

def find_max_in_set(my_set):
  """
  Finds the maximum value in a set.

  Args:
    my_set: The input set.

  Returns:
    The maximum value in the set, or None if the set is empty.
  """
  if not my_set:
    return None
  return max(my_set)

In [152]:
# 39. Find the minimum value in a set.

def find_min_in_set(my_set):
  """
  Finds the minimum value in a set.

  Args:
    my_set: The input set.

  Returns:
    The minimum value in the set, or None if the set is empty.
  """
  if not my_set:
    return None
  return min(my_set)

In [153]:
#  40. Create a set from user input.

def create_set_from_input():
  """
  Creates a set from user input.

  Returns:
    A set containing the user-provided values.
  """
  input_str = input("Enter elements separated by spaces: ")
  elements = input_str.split()
  my_set = set(elements)
  return my_set

# Example usage
user_set = create_set_from_input()
print(user_set)

Enter elements separated by spaces: 12 24 25 45
{'25', '24', '45', '12'}

In [113]:
#  41. Check if the intersection of two sets is empty.

def is_intersection_empty(set1, set2):
  """
  Checks if the intersection of two sets is empty.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    True if the intersection is empty, False otherwise.
  """
  return set1.isdisjoint(set2)

# Example usage
set1 = {1, 2, 3}
set2 = {4, 5, 6}
if is_intersection_empty(set1, set2):
  print("The intersection of the two sets is empty.")
else:
  print("The intersection of the two sets is not empty.")

The intersection of the two sets is empty.

In [112]:
# 42. Create a set of the first 5 Fibonacci numbers.

def fibonacci_numbers(n):
  """
  Creates a set of the first n Fibonacci numbers.

  Args:
    n: The number of Fibonacci numbers to generate.

  Returns:
    A set containing the first n Fibonacci numbers.
  """
  if n <= 0:
    return set()
  elif n == 1:
    return {0}
  else:
    fib_list = [0, 1]
    while len(fib_list) < n:
      next_fib = fib_list[-1] + fib_list[-2]
      fib_list.append(next_fib)
    return set(fib_list)

# Create a set of the first 5 Fibonacci numbers
fibonacci_set = fibonacci_numbers(5)
print(fibonacci_set)  # Output: {0, 1, 2, 3, 5}

{0, 1, 2, 3}

In [110]:
#  43. Remove duplicates from a list using sets.

def remove_duplicates_with_sets(my_list):
  """
  Removes duplicates from a list using sets.

  Args:
    my_list: The input list.

  Returns:
    A new list with duplicates removed.
  """
  unique_elements = set(my_list)
  return list(unique_elements)

# Example usage
my_list = [1, 2, 2, 3, 4, 4, 5]
result_list = remove_duplicates_with_sets(my_list)
print(result_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [108]:
#  44. Check if two sets have the same elements, regardless of their count.

def have_same_elements(set1, set2):
  """
  Checks if two sets have the same elements, regardless of their count.

  Args:
    set1: The first set.
    set2: The second set.

  Returns:
    True if the sets have the same elements, False otherwise.
  """
  return set1 == set2

# Example usage
set1 = {1, 2, 3}
set2 = {3, 2, 1, 1}
if have_same_elements(set1, set2):
  print("The sets have the same elements.")
else:
  print("The sets do not have the same elements.")

The sets have the same elements.

In [107]:
#  45. Create a set of the first `n` powers of 2.

def powers_of_two_set(n):
  """
  Creates a set of the first n powers of 2.

  Args:
    n: The number of powers of 2 to generate.

  Returns:
    A set of the first n powers of 2.
  """
  powers_of_two_list = [2**i for i in range(n)]
  return set(powers_of_two_list)

# Example usage
n = 5
powers_of_two_set_result = powers_of_two_set(n)
print(powers_of_two_set_result)  # Output: {1, 2, 4, 8, 16}

{1, 2, 4, 8, 16}

In [106]:
#  46. Find the common elements between a set and a list.

def find_common_elements(my_set, my_list):
  """
  Finds the common elements between a set and a list.

  Args:
    my_set: The input set.
    my_list: The input list.

  Returns:
    A new set containing the common elements.
  """
  common_elements = set(my_list) & my_set
  return common_elements

# Example usage
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]
common_elements = find_common_elements(my_set, my_list)
print(common_elements)  # Output: {3, 4, 5}

{3, 4, 5}

In [105]:
#  47. Create a set of the first `n` triangular numbers.

def triangular_numbers_set(n):
  """
  Creates a set of the first n triangular numbers.

  Args:
    n: The number of triangular numbers to generate.

  Returns:
    A set containing the first n triangular numbers.
  """
  triangular_numbers = []
  for i in range(1, n + 1):
    triangular_numbers.append(i * (i + 1) // 2)
  return set(triangular_numbers)

# Example usage
n = 5
triangular_set = triangular_numbers_set(n)
print(triangular_set)  # Output: {1, 3, 6, 10, 15}

{1, 3, 6, 10, 15}

In [104]:
#  48. Check if a set contains another set as a subset.

def contains_subset(main_set, sub_set):
  """
  Checks if a set contains another set as a subset.

  Args:
    main_set: The main set.
    sub_set: The subset to check for.

  Returns:
    True if the main set contains the sub_set as a subset, False otherwise.
  """
  return sub_set.issubset(main_set)

# Example usage
main_set = {1, 2, 3, 4, 5}
sub_set = {2, 3}
if contains_subset(main_set, sub_set):
  print("The main set contains the sub_set as a subset.")
else:
  print("The main set does not contain the sub_set as a subset.")

The main set contains the sub_set as a subset.

In [103]:
# 49. Create a set of alternating 1s and 0s of length `n`.

def alternating_ones_zeros(n):
  """
  Creates a set of alternating 1s and 0s of length n.

  Args:
    n: The length of the set.

  Returns:
    A set of alternating 1s and 0s.
  """
  result = []
  for i in range(n):
    if i % 2 == 0:
      result.append(1)
    else:
      result.append(0)
  return set(result)

# Example usage
n = 5
alternating_set = alternating_ones_zeros(n)
print(alternating_set)  # Output: {0, 1}

{0, 1}

In [102]:
#  50. Merge multiple sets into one.

def merge_sets(*sets):
  """
  Merges multiple sets into one.

  Args:
    *sets: Variable number of sets to merge.

  Returns:
    A new set containing all elements from the input sets.
  """
  merged_set = set()
  for s in sets:
    merged_set.update(s)
  return merged_set

# Example usage
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
merged_set = merge_sets(set1, set2, set3)
print(merged_set)  # Output: {1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4, 5, 6, 7}